NODE_ENV=development

# Conexión a PostgreSQL
DATABASE_URL="postgresql://USUARIO:PASSWORD@localhost:5432/urbanfix"

# Puerto del servidor
PORT=3001

# Clave para firmar los JWT
JWT_SECRET=tu_clave_secreta


CLOUDINARY_CLOUD_NAME=dm04gis2c
CLOUDINARY_API_KEY=638452818421828
CLOUDINARY_API_SECRET=GenwIeNBc4b8MjyVjwK2XaAT7RQ

FRONTEND_URL=http://localhost:5173